/*
  SCSS Mixin
  ==========
  Provides set font-face to page

  **EXAMPLE**

  @include font-face($font-family, $font-group, $font-style, $file-name, $font-weight)

  @include font-face('Roboto-Regular', roboto, regular, roboto-regular-webfont);*emphasized text*
*/
@mixin font-face($font-family, $font-group, $font-style, $file-name) {
  $file-path: "fonts/" + $font-group + "/" + $font-style + "/" + $file-name;
  @font-face {
    font-family: $font-family;
    src: url('#{$file-path}.eot'),local('☺');
    src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'),local('☺'),
    url('#{$file-path}.woff') format('woff'),
    url('#{$file-path}.ttf') format('truetype'),
    url('#{$file-path}.svg##{$font-family}') format('svg');
  }
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
      font-family: $font-family;
      src: url('#{$file-path}.svg##{$font-family}') format('svg');
    }
  }

}

/*
  SCSS Mixin
  ==========
  Provides set font-family to selector

  - *$font-family:* The font family of the font.
  - *$font-style:* The font-style CSS property.
  - *$file-weight:* The font-weight CSS property.
  - *$font-callback:* The font callback, e.g. sans-serif

  **EXAMPLE**

  @include font-family($font-family, $font-weight, $font-style)

  @include font-family('Roboto-Regular', normal, italic);
*/
@mixin font-family($font-family, $font-weight:normal, $font-style:normal, $font-callback:sans-serif) {
  font-family: $font-family, $font-callback;
  font-weight: $font-weight; font-style: $font-style;
}
