// Footer
footer

.scripts
    // Set JS assets
    script(src="js/vendor/vendor-bundle.min.js")
    script(src="js/custom/custom-bundle.min.js")
    script(src="https://dadata.ru/static/js/lib/jquery.suggestions-15.10.min.js")
    
    //- include _googleAnalytics
    //- include _yandexMetrika
    
    script.
      $(".address").suggestions({
        serviceUrl: "https://dadata.ru/api/v2",
        token: "a0148ea6c9bd87cb6908c8f8a7bb46a141d035d6",
        type: "ADDRESS",
        count: 3,
        onSelect: function(suggestion) {
        console.log(suggestion);
        }
      });
      function switchTo(choice) {
      var sgt = $(".address").suggestions(),
          lbl = $("#label");
        if (switchers[choice] !== undefined) {
        $(".address").val("");
          switchers[choice].call(this, sgt, lbl);
          }
        }

        var switchers = {};
        
        switchers["msk"] = function(sgt, lbl) {
          lbl.text("Москва");
          sgt.setOptions({
            constraints: {
              locations: { region: "Москва" },
            },
  
            restrict_value: true
          });
        };
        switchers["spb"] = function(sgt, lbl) {
          lbl.text("Питер");
          sgt.setOptions({
            constraints: {
              locations: { region: "Санкт-Петербург" },
            },
           
            restrict_value: true
          });
        };
      $("#switcher a").click(function(e) {
        e.preventDefault();
        switchTo($(this).data("switch"));
        $(".address, .suggestions-suggestions").css('border-color','#5115c0');
        $("#label").css({'color':'#5115c0', 'text-decoration': 'underline'});
      });

      