
<head>
  <title>TaxiCalc</title>
  <!-- Main Meta information-->
  <meta charset="utf-8"/>
  <meta http-equiv="Cache-control" content="public"/>
  <!-- Set DNS-prefetch domains (https://w3c.github.io/resource-hints/)
  link(rel="dns-prefetch" href="//example.com/")
  link(rel="dns-prefetch" href="//cdn.example.com/")
  
  -->
  <!-- Set preconnect domains (https://w3c.github.io/resource-hints/)
  link(rel="preconnect" href="//example.com")
  link(rel="preconnect" href="//cdn.example.com" crossorigin)
  
  -->
  <!-- Set preload resources (https://w3c.github.io/resource-hints/)-->
  <link rel="preload" href="css/fonts/roboto/bold/roboto-bold-webfont.woff" as="font"/>
  <link rel="preload" href="css/fonts/roboto/light/roboto-light-webfont.woff" as="font"/>
  <link rel="preload" href="css/fonts/roboto/medium/roboto-medium-webfont.woff" as="font"/>
  <link rel="preload" href="css/fonts/roboto/regular/roboto-regular-webfont.woff" as="font"/>
  <!-- Set prerender resources (https://w3c.github.io/resource-hints/)
  link(rel="prerender" href="//example.com/next-page.html")
  
  -->
  <!-- Set prefetch resources (https://w3c.github.io/resource-hints/)
  link(rel="prefetch" href="//example.com/next-page.html" as="html" crossorigin="use-credentials")
  link(rel="prefetch" href="/library.js" as="script")
  
  -->
  <!-- Set subresources (https://css-tricks.com/prefetching-preloading-prebrowsing/)
  link(rel="subresource" href="example.css")
  
  -->
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <meta http-equiv="x-ua-compatible" content="ie=edge"/>
  <meta name="viewport" content="width=device-width, user-scalable=yes"/>
  <meta name="keywords" content=""/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <!-- Meta Information-->
  <meta name="robots" content="index, follow"/>
  <meta name="language" content="Russian"/>
  <meta name="msapplication-tooltip" content=""/>
  <meta name="msapplication-starturl" content="http://SET_URL/?pinned=true"/>
  <meta name="msapplication-tap-highlight" content="no"/>
  <!--meta(http-equiv="imagetoolbar" content="false")-->
  <!-- Add to homescreen for Chrome on Android-->
  <meta name="mobile-web-app-capable" content="yes"/>
  <meta name="application-name" content=""/>
  <link rel="icon" type="image/png" sizes="192x192" href="img/favicon/android-icon-192x192.png"/>
  <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png"/>
  <link rel="icon" type="image/png" sizes="96x96" href="img/favicon/favicon-96x96.png"/>
  <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png"/>
  <!-- Add to homescreen for Safari on iOS-->
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
  <meta name="apple-mobile-web-app-title" content=""/>
  <link rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-icon-57x57.png"/>
  <link rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-icon-60x60.png"/>
  <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-icon-72x72.png"/>
  <link rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-icon-76x76.png"/>
  <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-icon-114x114.png"/>
  <link rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-icon-120x120.png"/>
  <link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-icon-144x144.png"/>
  <link rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-icon-152x152.png"/>
  <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-icon-180x180.png"/>
  <!-- Web Application Manifest-->
  <link rel="manifest" href="img/favicon/manifest.json"/>
  <!-- Tile icon for Win8 (144x144 + tile color)-->
  <meta name="msapplication-TileColor" content="#ffffff"/>
  <meta name="msapplication-TileImage" content="img/favicon/ms-icon-144x144.png"/>
  <meta name="theme-color" content="#ffffff"/>
  <!-- OpenGraph microformat-->
  <meta property="og:type" content="website"/>
  <meta property="og:title" content=""/>
  <meta property="og:site_name" content=""/>
  <meta property="og:url" content=""/>
  <meta property="og:description" content=""/>
  <meta property="og:image" content=""/>
  <!-- Twitter microformat-->
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:site" content=""/>
  <meta name="twitter:creator" content=""/>
  <meta name="twitter:url" content=""/>
  <meta name="twitter:title" content=""/>
  <meta name="twitter:description" content=""/>
  <meta name="twitter:image" content=""/>
  <link rel="canonical" href="/"/>
  <link rel="image_src" href="#"/>
  <link rel="shortlink" href="#"/>
  <link type="text/plain" rel="author" href="humans.txt"/>
  <!-- Set URLs to some our services
  link(rel="alternate" type="application/rss+xml" title="RSS" href="/rss.xml")
  link(rel="alternate" type="application/atom+xml" title="Atom" href="/atom.xml")
  link(rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml")
  
  -->
  <!-- Set external CSS libraries
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet')
  
  -->
  <!-- Set JS that must be in <head>-->
  <!-- Detect browser and setup Cap for old versions-->
  
  
  <!-- Get html5shiv if this is IE lower or equal to 9--><!--[if lte IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <!-- Async load CSS-->
  <!-- Set yours main CSS file if JS is down-->
  <link rel="stylesheet" href="css/main.min.css"/>
  <style>
    [href="#msk"] {display: none;}
    .suggestions-constraints{display: none !important;}
    .suggestions-suggestions{position: absolute !important; top: 50px !important; border-top: none !important;border-color: #656565;}
  </style>
</head>