// Header
header.header
  .container
    .col
      //- img(src="http://placehold.it/165x40", alt="")
      select#.header-select(name="")
        option(value="") Москва
        option(value="") Санкт-Петербург
        option(value="") Новосибирск
        option(value="") Екатеринбург
        option(value="") Казань
        option(value="") Самара
    .col
      h1.header-title.c Taxi Calc
    .col
      //- img.r(src="http://placehold.it/250x40", alt="")
      .header-widget
        .header-widget__road 
          span.header-widget__road-title 2 балла
        .header-widget__weather
          img(src="https://yandex.st/weather/v-1/i/icons/24x24/bkn_d.png", alt="")
          span &nbsp; 0 <sup>o</sup>C
    
    
    