.partners
  .partners-list
    img.partners-logo(src="img/partners/u.png", alt="" height="65")
    img.partners-logo(src="img/partners/y.png", alt="" height="50")
    img.partners-logo(src="img/partners/g.png", alt="" height="75")
