
<div class="results"><a href="" class="c results-link">метод расчета</a>
  <div class="results-list">
    <div class="results-price__title"></div>
    <div class="results-item">
      <div class="results-item__pic"><img src="img/partners/u.png" alt="" height="90"/></div>
      <div class="results-item__price"></div>
    </div>
    <div class="results-item">
      <div class="results-item__pic"><img src="img/partners/y.png" alt="" height="70"/></div>
      <div class="results-item__price"></div>
    </div>
    <div class="results-item">
      <div class="results-item__pic"><img src="img/partners/g.png" alt="" height="75"/></div>
      <div class="results-item__price"></div>
    </div>
  </div>
</div>