.results(style="display: none;")
  a.c.results-link(href="") метод расчета
  .results-list
    .results-item
      .results-item__pic
        img(src="img/partners/u.png", alt="" height="90")
      .results-item__price-eco 315 руб.
      .results-item__price-comfort.results-item__price-comfort--first 825 руб. 
        span (бизнес)
      //- .results-item__price 315 руб.
    .results-item
      .results-item__pic
        img(src="img/partners/y.png", alt="" height="70")
      .results-item__price 345 руб.
      .results-item__price-comfort.results-item__price-comfort--first 715 руб. 
        span (комфорт)
      .results-item__price-comfort.results-item__price-comfort--second 865 руб. 
        span (бизнес)
    .results-item
      .results-item__pic
        img(src="img/partners/g.png", alt="" height="75")
      .results-item__price 355 руб.
      .results-item__price-comfort.results-item__price-comfort--first 705 руб. 
        span (комфорт)
      .results-item__price-comfort.results-item__price-comfort--second 905 руб. 
        span (бизнес)
      .results-item__price-comfort.results-item__price-comfort--second 675 руб. 
        span (XL)
      .results-item__price-comfort.results-item__price-comfort--second 1205 руб. 
        span (VIP)

  .results-price
    .results-price__eco
      .results-price__eco-title
        input(type="checkbox" id="econom" checked)
        label(for="econom") Эконом
        //- span 315 руб.
        //- span 345 руб.
        //- span 355 руб.
    .results-price__comfort
      .results-price__comfort-title
        input(type="checkbox" id="comfort")
        label(for="comfort") Комфорт и выше
        //- span 315 руб.
        //- span 345 руб.
        //- span 355 руб.

