
<div class="route">
  <form action="#" class="c route-form">
    <input type="text" name="address" placeholder="Пункт отправления" required="required" class="route-form__text start-place address suggestions-input"/>
    <input type="text" name="address" placeholder="Пункт прибытия" required="required" class="route-form__text finish-place address1 suggestions-input"/>
    <input type="submit" value="Показать цену поездки" class="route-form__send"/>
    <ul id="switcher">
      <li>
        <p class="start">Откуда едем:<span id="label">РФ </span></p>
      </li>
      <li class="city-link"><a href="#msk" data-switch="msk">Москва</a></li>
      <li class="city-link"><a href="#spb" data-switch="spb">Санкт-Петербург</a></li>
    </ul>
  </form>
</div>