.route
  form.c.route-form(action="#")
    input.route-form__text.start-place.address.suggestions-input(
      type="text"
      name="address"
      placeholder="Пункт отправления"
      required
          )

    input.route-form__text.finish-place.address1.suggestions-input(
      type="text"
      name="address"
      placeholder="Пункт прибытия"
          )
    input.route-form__send(
    type="submit"
    value="Показать цену поездки"
    )
    
  
    ul#switcher
      li
        p.start Откуда едем:
          span#label РФ 
     
      li.city-link
        a(href='#msk', data-switch='msk') Москва
      li.city-link
        a(href='#spb', data-switch='spb' class="spb") Санкт-Петербург
