.container{
  width: $container-wide;
  padding-left: $container-padding;
  padding-right: $container-padding;
  margin-left: auto;
  margin-right: auto;
  background-color: #eeeeee;
}

.l{float: left;} .r{float: right;} .di{display: inline-block;}

.col{
  width: 340px;
  display: inline-block;
}

*{outline: none;}
