.header {
    .container{
    padding-top: 40px;
    margin-bottom: -20px !important;
  }
  &-title{
    font-size: 32px;
    font-weight: 700;
    position: relative;
    bottom: 10px;
  }
  &-select{
  
  }

  &-widget{
    width: 250px;
    box-sizing: border-box;
    background-color: #f44;
    float: right;
    &__weather{
      width: 50%;
      height: 40px;
      padding: 10px 10px;
      box-sizing: border-box;
      background-color: #fff;
      float: right;
      text-align: center;
      img{
        position: relative;
        bottom: 2px;
      }
      span{
        position: relative;
        bottom: 7px;
        font-size: 16px;
        sup{
          font-size: 11px;
        }
      }
    }
    &__road{
      background-color: #fff;
      width: 50%;
      height: 40px;padding: 20px;
      box-sizing: border-box;
      float: left;
      text-align: center;
      &-title{
        position: relative;
        top: 1px;
        left: 10px;
        font-size: 16px;
        &:before{content:""; width: 20px;
        height: 20px;background-color: green;position: absolute;top: -2px;left: -28px;border-radius: 50%;}
      }

    }
  }
}

