// Fonts
// =========
// @include font-face('Roboto-Regular', roboto, regular, roboto-regular-webfont);
// @include font-face('Roboto-Bold', roboto, bold, roboto-bold-webfont);
// @include font-face('Roboto-Light', roboto, light, roboto-light-webfont);
// @include font-face('Roboto-Medium', roboto, medium, roboto-medium-webfont);

body {
  // @include font-family('Roboto-Regular',normal,normal,sans-serif);
     @include font-family('Arial',normal,normal,sans-serif);
}

// Base typography
// ===================
html {
    font-size: $base-font-size;
    line-height: $base-line-height;
}

.c{text-align: center;}
