.partners{
 padding-bottom: 90px;
  &-list{
    text-align: center;
    margin-top: 90px;
  }

  &-logo{
    margin: 30px;
    &:first-child{margin-bottom: 40px;}
    &:nth-child(2){margin-bottom: 50px;}
    &:last-child{margin-bottom: 60px;}
  }
}