.results{
  margin-bottom: 20px;
  // border: 1px solid #000;
  min-height: 260px;
  text-align: center;
  &-price{
    &__comfort{
      padding: 65px;
      padding-left: 20px !important;
      box-sizing: border-box;
      // height: 180px;
      // span{width: 100px;display: inline-block;margin-left: 100px;font-size: 22px;}
      &-title{
        text-align: left;
      }
    }
    &__eco{
      height: 60px;
      padding: 20px;
      box-sizing: border-box;
      border-bottom: 1px solid lightgrey;
      background-color: #fff;
      // span{width: 100px;display: inline-block;margin-left: 150px;font-size: 22px;}
      &-title{
      text-align: left;
    }
    }
   
    
  }
  &-link{
    position: relative;
    top: 20px;
    text-decoration: none;
  }
  &-list{height: 200px;box-sizing: border-box;
  }
  &-item{
    height: 345px;
    vertical-align: middle;
    display: inline-block;
    border-right: 1px solid grey;
    margin-top: 50px;
    position: relative;
    text-align: center;
    &__pic{height: 140px;}
    &__price{
      background-color: #fff;
      font-size: 25px;
      margin-top: 35px;
      &-eco{
      font-size: 26px;
      margin-top: 35px;
      
    }
      &-comfort{
        font-size: 14px;
        span{font-size: 12px;}
        &--first{
          margin-top: 60px;
        }
        &--second{
          margin-top: 30px;
        }
      }
      }
    img{
      padding: 20px 40px;
      
    }
    
   &:last-child{border: none !important;}
  }
}