doctype
html.no-js(lang='ru', prefix='og: http://ogp.me/ns#')
    
    include includes/_head

    body

        include includes/_header

        include includes/_main

        include includes/_footer
